@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab&display=swap');

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
