@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab&display=swap');

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
